DATABASE_MODE=remote
DATABASE_URL=libsql://localhost:8080?tls=0
DATABASE_TOKEN=
DATABASE_AUTO_MIGRATE=false
SQUELIFY_ADMIN_PATH=/ui
SQUELIFY_BASE_URL=http://localhost:3278
SQUELIFY_DOMAIN=localhost:3278
SQUELIFY_JWT_SECRET_KEY=replace_this_with_random_string
SQUELIFY_LOG_LEVEL=debug
SQUELIFY_AUDIT_LOG_ENABLE=true
SQUELIFY_RATE_LIMIT_ENABLE=false
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
S3_ACCOUNT_ID=
S3_ACCESS_KEY_ID=
S3_SECRET_ACCESS_KEY=
S3_BUCKET_NAME=squelify
S3_ENDPOINT_URL=http://localhost:9000
S3_CDN_URL=http://localhost:9000/squelify
SMTP_FROM_EMAIL=admin@example.com
SMTP_FROM_NAME=Superadmin
SMTP_HOST=localhost
SMTP_PORT=2525
SMTP_USERNAME=null
SMTP_PASSWORD=null
SMTP_SECURE=false
ocker
