@layer utilities {
    :root {
        --background: oklch(1 0 0);
        --foreground: oklch(25% 0.02 252);
        --primary: oklch(78% 0.16 81);
        --primary-foreground: oklch(25% 0.02 252);
        --secondary: oklch(94% 0.02 252);
        --secondary-foreground: oklch(25% 0.02 252);
        --destructive: oklch(0.589 0.199 27.84);
        --destructive-foreground: oklch(96% 0.02 252);
        --card: oklch(100% 0 0);
        --card-foreground: oklch(25% 0.02 252);
        --popover: oklch(100% 0 0);
        --popover-foreground: oklch(25% 0.02 252);
        --muted: oklch(94% 0.02 252);
        --muted-foreground: oklch(50% 0.02 252);
        --accent: oklch(94% 0.02 252);
        --accent-foreground: oklch(25% 0.02 252);
        --border: oklch(90% 0.02 252);
        --input: oklch(90% 0.02 252);
        --ring: oklch(78% 0.16 81);

        /* Sidebar Colors */
        --sidebar-background: oklch(100% 0 0);
        --sidebar-foreground: oklch(25% 0.02 252);
        --sidebar-primary: oklch(78% 0.16 81);
        --sidebar-primary-foreground: oklch(25% 0.02 252);
        --sidebar-accent: oklch(94% 0.02 252);
        --sidebar-accent-foreground: oklch(25% 0.02 252);
        --sidebar-border: oklch(90% 0.02 252);
        --sidebar-ring: oklch(78% 0.16 81);

        /* Chart Colors */
        --chart-1: oklch(78% 0.16 81);
        --chart-2: oklch(65% 0.2 150);
        --chart-3: oklch(78% 0.16 81);
        --chart-4: oklch(65% 0.15 300);
        --chart-5: oklch(60% 0.25 0);

        /* Status colors */
        --success: oklch(0.571 0.191 143.8);
        --success-foreground: oklch(0.98 0.003 253.77);
        --info: oklch(0.571 0.191 263.8);
        --info-foreground: oklch(0.98 0.003 253.77);
        --warning: oklch(0.571 0.191 83.8);
        --warning-foreground: oklch(0.98 0.003 253.77);
        --error: oklch(0.589 0.199 27.84);
        --error-foreground: oklch(0.98 0.003 252.11);

        &:where([data-theme="dark"], [data-theme="dark"] *) {
            --background: oklch(20% 0.02 252);
            --foreground: oklch(96% 0.01 252);
            --primary: oklch(78% 0.16 81);
            --primary-foreground: oklch(25% 0.02 252);
            --secondary: oklch(30% 0.02 252);
            --secondary-foreground: oklch(96% 0.01 252);
            --destructive: oklch(0.589 0.199 27.84);
            --destructive-foreground: oklch(96% 0.01 252);
            --card: oklch(25% 0.02 252);
            --card-foreground: oklch(96% 0.01 252);
            --popover: oklch(25% 0.02 252);
            --popover-foreground: oklch(96% 0.01 252);
            --muted: oklch(30% 0.02 252);
            --muted-foreground: oklch(75% 0.01 252);
            --accent: oklch(30% 0.02 252);
            --accent-foreground: oklch(96% 0.01 252);
            --border: oklch(32% 0.02 252);
            --input: oklch(30% 0.02 252);
            --ring: oklch(78% 0.16 81);

            /* Sidebar Colors */
            --sidebar-background: oklch(22% 0.02 252);
            --sidebar-foreground: oklch(96% 0.01 252);
            --sidebar-primary: oklch(78% 0.16 81);
            --sidebar-primary-foreground: oklch(25% 0.02 252);
            --sidebar-accent: oklch(30% 0.02 252);
            --sidebar-accent-foreground: oklch(96% 0.01 252);
            --sidebar-border: oklch(32% 0.02 252);
            --sidebar-ring: oklch(78% 0.16 81);

            /* Chart Colors */
            --chart-1: oklch(78% 0.16 81);
            --chart-2: oklch(65% 0.2 150);
            --chart-3: oklch(78% 0.16 81);
            --chart-4: oklch(65% 0.15 300);
            --chart-5: oklch(60% 0.25 0);

            /* Status colors */
            --success: oklch(0.521 0.161 143.8);
            --success-foreground: oklch(0.25 0.008 252.11);
            --info: oklch(0.521 0.161 263.8);
            --info-foreground: oklch(0.25 0.008 252.11);
            --warning: oklch(0.521 0.161 83.8);
            --warning-foreground: oklch(0.25 0.008 252.11);
            --error: oklch(0.589 0.199 27.84);
            --error-foreground: oklch(0.25 0.008 252.11);
        }
    }
}
