@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 210 40% 98%;
        --foreground: 225 12% 12%;
        --card: 0 0% 100%;
        --card-foreground: 225 12% 12%;
        --popover: 0 0% 100%;
        --popover-foreground: 225 12% 12%;
        --primary: 48 95% 50%;
        --primary-foreground: 225 12% 12%;
        --secondary: 210 40% 96.1%;
        --secondary-foreground: 225 12% 12%;
        --muted: 210 40% 96.1%;
        --muted-foreground: 215 16% 46.1%;
        --accent: 210 40% 96.1%;
        --accent-foreground: 225 12% 12%;
        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 210 40% 98%;
        --border: 214.3 31.8% 91.4%;
        --input: 214.3 31.8% 91.4%;
        --ring: 48 95% 50%;
        --radius: 0.3rem;
        --chart-1: 48 95% 50%;
        --chart-2: 142.1 76.2% 36.3%;
        --chart-3: 47.9 95.8% 53.1%;
        --chart-4: 283.4 39.3% 57.3%;
        --chart-5: 338.7 71.4% 47.1%;
        --sidebar-background: 0 0% 100%;
        --sidebar-foreground: 225 12% 12%;
        --sidebar-primary: 48 95% 50%;
        --sidebar-primary-foreground: 225 12% 12%;
        --sidebar-accent: 210 40% 96.1%;
        --sidebar-accent-foreground: 225 12% 12%;
        --sidebar-border: 214.3 31.8% 91.4%;
        --sidebar-ring: 48 95% 50%;
    }

    .dark {
        --background: 225 12% 8.5%;
        --foreground: 210 6% 98%;
        --card: 225 12% 12%;
        --card-foreground: 210 6% 98%;
        --popover: 225 12% 12%;
        --popover-foreground: 210 6% 98%;
        --primary: 48 95% 50%;
        --primary-foreground: 225 12% 12%;
        --secondary: 225 12% 16%;
        --secondary-foreground: 210 6% 98%;
        --muted: 225 12% 16%;
        --muted-foreground: 215 6% 72%;
        --accent: 225 12% 16%;
        --accent-foreground: 210 6% 98%;
        --destructive: 0 84% 60%;
        --destructive-foreground: 210 6% 98%;
        --border: 225 12% 18%;
        --input: 225 12% 16%;
        --ring: 48 95% 50%;
        --chart-1: 48 95% 50%;
        --chart-2: 142.1 76.2% 36.3%;
        --chart-3: 47.9 95.8% 53.1%;
        --chart-4: 283.4 39.3% 57.3%;
        --chart-5: 338.7 71.4% 47.1%;
        --sidebar-background: 225 12% 10%;
        --sidebar-foreground: 210 6% 98%;
        --sidebar-primary: 48 95% 50%;
        --sidebar-primary-foreground: 225 12% 12%;
        --sidebar-accent: 225 12% 16%;
        --sidebar-accent-foreground: 210 6% 98%;
        --sidebar-border: 225 12% 18%;
        --sidebar-ring: 48 95% 50%;
    }
}

@layer base {
    * {
        @apply border-border;
    }
    html,
    body {
        @apply antialiased min-h-screen scroll-smooth;
    }
    body {
        @apply bg-background text-foreground font-sans;
    }
}

@layer utilities {
    /* Debug element */
    .debug {
        border-width: 1px;
        border-style: dashed;
        border-color: #f87171;
    }
}
